
<table>
    <tr>
      <td>
    
<form name="search" action="." method="post" enctype="multipart/form-data">
  <input type="hidden" name="ltype" id="ltype" value="lambda">
  <input type="hidden" name="fileCode" value="">
Function Name : <input type="text" name="funName"> <br> <br>
Runtime : <select name="runTime">
  <optgroup label="Node.js">
    <option value="nodejs12.x">Node.js 12</option>
    <option value="nodejs10.x">Node.js 10</option>
    <option value="nodejs8.10">Node.js 8.10</option>
  </optgroup>

  <optgroup label="Python">
    <option value="python3.8">Python 3.8</option>
    <option value="python3.7">Python 3.7</option>
    <option value="python3.6">Python 3.6</option>
    <option value="python2.7">Python 2.7</option>
  </optgroup>

   <optgroup label="Java">
    <option value="java11">Java 11</option>
    <option value="java8">Java 8</option>
  </optgroup>

  <optgroup label="Go">
    <option value="go1.x">Go 1.x</option>
  </optgroup>

  <optgroup label=".NET Core">
    <option value="dotnetcore2.1">.NET Core 2.1</option>
  </optgroup>


</select> <br> <br>
Arn Role : <input type="text" name="role" value="arn:aws:iam::112911278656:role/FullAccess-Lambda-DynamoDB"> <br> <br>
Handler : <input type="text" name="handler"> <br> <br>
Upload File : <input type="file" name="photo"> <br> <br>
Event : <textarea rows="10" cols="50" name="event">{}</textarea>
<br> <br> <br>

<input type="submit" value="Create Lambda">
<input type="submit" onclick="javascript: document.getElementById('ltype').value='lambda_invoke'" value="Create Lambda & Invoke">

</form>

      </td>
      <td>
        Lambda Response :: <br>
        {{ res_lambda }}
        <br> <br> <br>
        Lambda Invoke Response :: <br>
        {{ res_invoke }}
      </td>
    </tr>
</table>


